{{#partial "content"}}
    <div class="user-details-full">

            <div class="container-fluid">
                <div class="row">
                    {{#if department-data}}
                    <div class="col-lg-6">
                        <div class="department-details">
                            <h1 class="the-user-detail text-center">Tech Department</h1>
                            <hr id="user-name"><br>
                        </div>
                    </div>
                    <div class="col-lg-6 the-details">
                        <p class="text-center"><em>Providing solutions for Africa and beyond</em></p>
                        <p class="text-center"><i class="fas fa-users"></i> Users : 23</p><br>
                        <div class="users-deps text-center">
                            <a href="#"><button class="btn btn-outline-light">Users</button></a>
                            <a href="/Departments/{{id}}/depNews"><button class="btn btn-outline-deep-orange">Department News</button></a>
                        </div>
                    </div>
        {{/if}}
                </div>
            </div>

    </div>
{{/partial}}
{{> layout.hbs}}